:root {
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
}
.common-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-transform: capitalize;
  position: relative;
}

.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  transition: all 0.7s linear;
  position: relative;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

/* .p-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:blue; 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
}

.p:hover .p-img {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
} */

.img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradientSupport);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 40vh;
}
.btns {
  opacity: 999;
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
  .img {
    width: 100%;
    height: 17vh;
  }
}
